body{margin:0;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}code{font-family:source-code-pro,Menlo,Monaco,Consolas,"Courier New",monospace}.App{text-align:center}.App-logo{height:40vmin;pointer-events:none}.App .navbar-brand{font-weight:700}.App .container{align-content:center}.App-link{color:#61dafb}.card{float:none;margin:0 auto 10px}
/*# sourceMappingURL=main.7c44e43b.chunk.css.map */